body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    background: #2c0960;
    background: -webkit-linear-gradient(to bottom, #49a09d, #2c0960);
    background: linear-gradient(to bottom, #49a09d, #2c0960);
}

.header{
    text-decoration: none;
    

}
.header a{
    text-decoration: none;
    color: white;
    font-size: 4em;
}
.hero-bg {
    position: absolute;
    top: 10em;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: -2;
    background: linear-gradient(
      100deg,
      rgba(16, 119, 176, 0.05) 3.95%,
      rgba(22, 33, 132, 0.6) 26.75%,
      rgba(71, 75, 186, 0.8) 50.02%
    );
    -webkit-filter: blur(150px);
    filter: blur(150px);
    -webkit-transform: matrix(-1, 1, 0, 1, 0, 0);
    transform: matrix(-1, 1, 0, 1, 0, 0);
  }

  .img1{
    border-radius: 50%;
    overflow: hidden;
}
